.contactList {
  margin: 3px 0 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 30px;
  max-width: 400px;
  height: auto;
  border-radius: 5px;
  background-color: var(--background-color-component);
  box-shadow: var(--box-shadow);
}
